# conda install nvidia/label/cuda-12.1.0::cuda-toolkit
numpy==1.26.4
scipy==1.15.3
pandas==2.3.2
pillow==12.0.0
tqdm==4.67.3
torch==2.1.1+cu121
torchvision==0.16.1+cu121
torchaudio==2.1.1+cu121
pytorch-lightning==2.6.1
torchmetrics==1.8.2
torchdiffeq==0.2.5
torchdyn==1.0.6
torchcde==0.2.5
torchsde==0.2.6
torchcfm==1.0.7
clean-fid==0.1.35
POT==0.9.5
tensorboard==2.20.0
PyYAML==6.0.3
requests==2.28.1
gdown==5.2.1
aiohttp==3.13.3
Jinja2==3.1.6
networkx==3.4.2
sympy==1.14.0
filelock==3.20.0
fsspec==2025.12.0